<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		<!--Category: Create-->
		<add key="addon_folder" value="C:\Program Files (x86)\Steam\steamapps\common\GarrysMod\garrysmod\addons"/>
		<!--Category: Settings-->
		<add key="gmh" value="C:\Program Files (x86)\Steam\steamapps\common\GarrysMod"/>
		<add key="gmad" value="C:\Program Files (x86)\Steam\steamapps\common\GarrysMod\bin\gmad.exe"/>
		<add key="gmpublish" value="C:\Program Files (x86)\Steam\steamapps\common\GarrysMod\bin\gmpublish.exe"/>
    </appSettings>
</configuration>